# Project dependencies
.cache
node_modules
yarn-error.log
# package-lock.json
# yarn.lock

# Build directory
# /public (commented out - need public folder for Next.js static assets)
.DS_Store

# Next.js build output
.next/

# My stuff 
/content

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix