body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff;
}

a:link {
	color:09f;
}

a:visited {
	color:#009;
}

.client {
	font-family:Arial, Helvetica, sans-serif;
	font-size:x-small; 
	color:#666;
}


/*
     FILE ARCHIVED ON 06:58:15 Nov 02, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:16:54 Jul 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 112.349 (3)
  esindex: 0.019
  captures_list: 137.305
  CDXLines.iter: 17.09 (3)
  PetaboxLoader3.datanode: 185.559 (4)
  exclusion.robots: 0.233
  exclusion.robots.policy: 0.215
  RedisCDXSource: 2.015
  PetaboxLoader3.resolve: 220.966
  load_resource: 431.761
*/